.shippingContainer :global(.vtex-button){
    background: #616366 0% 0% no-repeat padding-box;
    border: none;
    height: 40px;
    border-radius: 0;
    color: #fff;
}
.shippingContainer{
  display: flex;
  align-items: start;
}

.productDescriptionTitle {
  color: #002D71;
  text-transform: uppercase;
}
.productDescriptionTitle--shortdescription {
  display: none;
}
.content {
  color: #7E7E7E;
}
.content--shortdescription {
  height: 69px;
}
.productImagesThumb {
  border: 1px solid #e9e9e9;
  width: 90px;
}
.productDescriptionContainer {
  background: #fff;
    border-radius: 10px;
    padding: 2rem;
}
.showMoreButton {
  background: #002D71;
    color: #fff;
    padding: 7px 13px;
    border-radius: 10px;
}
.subscriberContainer :global(.vtex-button) {
  background: #002D71;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}

.swiperCaretPrev.carouselCursorDefault {
  display: none;
}
.swiperCaretNext {
  color: #7E7E7E;
}
.swiperBullet--active {
  background: #00A9E0;
}

.shippingContainer :global(.vtex-input__label) {
  display: none;
}
.vtex-address-form__postalCode {
  max-width: 222px;
  width: 100%;
}
.shippingContainer :global(.vtex-button) {
  max-width: 153px;
  width: 100%;
}
.shippingContainer :global(.vtex-button__label) {
  font-size: 0;
}
.shippingContainer :global(.vtex-button__label)::before {
  content: "Calcular";
  font-size: 14px;
  text-transform: initial;
}

@media (max-width: 991px) {
  .shippingContainer {
    display: block;
  }
}
