.flexRowContent--productSpecificationGroup {
  display: none;
}
.flexRow--titulo__especificacao {
  background: #E6E6E6;
}
.flexRowContent--titulo__especificacao, .flexRow--container-breadcrumb, .render-route-store-account .vtex-account {
  max-width: 1214px;
    margin: 0 auto;
}
.flexRowContent--titulo__especificacao {
  padding: 2rem 0;
}

.flexRowContent--bread-container-pdp :global(.vtex-breadcrumb-1-x-container) {
  padding: 0;
}

@media (min-width: 1025px) {
  .flexRow--wrapper__product-actions {
    position: absolute;
    bottom: 10px;
    left: 13px;
    width: 90%;
  }
}

:global(.vtex-product-context-provider) .wishproduto {
  justify-content: initial;
}
.flexRow--mini-descricao {
    color: #7E7E7E;
    margin: 1rem 0;
    width: 80%;

}

.flexRowContent--wrapper__buy {
  margin: 25px 0 10px;
}
.flexRowContent--wrapper__buy .stretchChildrenWidth:first-child {
  padding-right: 8px;
}

.flexRowContent--label-shipping-container {
  margin-top: 45px;
}
.flexRowContent--label-shipping-container :global(.vtex-rich-text-0-x-paragraph) {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 20px;
  color: #343434;
  font-weight: 600;
}

.flexRow--info-tabs-container {
  background: #F1F1F1;
}

.flexRowContent--pdp-related-container {
  margin-top: 60px;
}

.flexRow--pdp-prices-container {
  margin-top: 50px;
}
.flexRowContent--pdp-prices-container {
  align-items: center ;
}
.flexRowContent--pdp-prices-container .stretchChildrenWidth {
  width: auto !important;
}
.flexRowContent--pdp-prices-container .stretchChildrenWidth:first-child {
  padding-right: 8px;
}