.sliderArrows--carousel {
  display: none;
}

.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  min-height: 485px;
}
.slideChildrenContainer--shelf {
  padding: 6px;
}

.caretIcon--carousel{
  background-color: #fff;
  border: 5px;
  padding: 13px;

  box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 60%);
}
.paginationDot--carousel {
  background: #FFF5F5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000061;
}
.paginationDot--carousel--isActive {
  background: #00A9E0;
}
.sliderRightArrow, .sliderLeftArrow {
  margin: 0;
  padding: 0;
  width: 10px;
}
.sliderLeftArrow {
  left: -15px;
}
.sliderRightArrow {
  right: -15px;
}
.paginationDotsContainer--shelf, .slide--sliderbene, .sliderLayoutContainer--sliderbene {
  display: none;
}

@media (max-width: 991px) {
  .paginationDotsContainer--sliderbene, .sliderArrows--sliderbene, :global(.vtex-shelf-1-x-relatedProducts) .dotsContainer {
    display: none;
  }
  .sliderLayoutContainer--sliderbene, .slide--sliderbene {
    display: block;
  }
  .slide--sliderbene {
    padding: 2rem 0;
  }
}

@media (max-width: 639px) {
  .sliderRightArrow, .sliderLeftArrow {
    width: 38px;
    height: 38px;
    border: 1px solid #616366;
    top: 40%;
  }
  .sliderRightArrow {
    right: 0;
  }
  .sliderLeftArrow {
    left: 0;
  }
}
