.product-identifier--productReference {
  color: #A2A2A2;
  font-size: 12px;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .product-identifier--productReference {
    color: #343434;
    font-size: 14px;
  }
}
