/* MENU HEADER */
.flexRowContent--header__menu :global(.vtex-category-menu-2-x-itemContainer):not(:first-child) {
  margin-left: 62px;
}

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

.flexColChild--formas__wrapper:not(:first-child) {
  margin-top: 30px;
}

.flexRow--prices__wrapper {
  padding: 0 20px;
}
.flexRowContent--price__savings {
  align-items: center;
}
.flexRowContent--price__savings .stretchChildrenWidth,
.flexRowContent--wrapper__product-actions .stretchChildrenWidth {
  width: fit-content !important;
}
.flexRowContent--selling__savings {
  margin: 0;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}


.flexRowContent--deals {
  justify-content: space-between;
}
.flexRow--deals .stretchChildrenWidth {
  align-items: center;
  max-width: fit-content;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}


/* HOME */
.flexRow--deals{
  background-color: transparent;
  max-width: 1200px;
  margin: 40px auto;
}
.flexCol--wrapper__deals{
  flex-direction: row;
  justify-content: center;
  gap: 15px;

}
.flexColChild--wrapper__deals{
  display: flex;
  align-items: center;

}

/* MOSAICO */
.flexRowContent--wrapper__mosaicos,
.flexCol--wrapper__mosaico {
  justify-content: space-between;
}

/* CARROSSEL DE PRODUTOS */
.flexRowContent--wrapper__product-actions{
  gap: 10px;
}

/*instagram*/
.flexRow--controleinstagram {
  background: url('assets/footer/fundo-insta.svg');
  margin-top: 4rem;
  padding: 1rem;
  display: none;
}
.flexRow--instagram, .flexCol--container{
  max-width: 1200px;
  margin: 0px auto;
}
.flexCol--texto-insta {
  text-align: center;
  padding-top: 2rem;
}

.flexRowContent--prices__wrapper__cat {
  align-items: center;
  margin-bottom: 4px;
  padding: 0 20px;
}
.flexRowContent--prices__wrapper__cat .stretchChildrenWidth {
  max-width: fit-content;
}
.flexRow--wrapper__product-actionsC {
  padding: 0 20px;
}

/* MINICART */
.flexRowContent--minicart--row-top :global(.vtex-product-list-0-x-productBrandName) {
  font-weight: 700;
  margin-bottom: 10px;
}
.flexRowContent--minicart--row-top .stretchChildrenWidth:first-child {
  max-width: 207px;
}
.flexRowContent--minicart--row-top :global(.vtex-product-list-0-x-productName) {
  font-size: 18px;
  line-height: 23px;
  color: #343434;
}
.flexRowContent--qty-price__container {
  align-items: center;
}
