.flexRow--wrapper__newsletter{
  background-color: #616366;
}

.flexRowContent--wrapper__newsletter {
  padding: 20px 0;
  margin-top: 3rem !important;
}
.flexRowContent--wrapper__newsletter :global(.vtex-input__error) {
  position: absolute;
  margin: 0;
}

@media (max-width: 991px) {
  .flexRowContent--wrapper__newsletter {
    align-items: center;
  }
  .flexRowContent--wrapper__newsletter .stretchChildrenWidth:last-child {
    width: 74% !important;
  }
  .flexRowContent--wrapper__newsletter .stretchChildrenWidth:nth-child(even) {
    width: 21% !important;
  }
}

@media (max-width: 767px) {
  .flexRowContent--wrapper__newsletter {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .flexRowContent--wrapper__newsletter .stretchChildrenWidth:nth-child(even) {
    width: 100%!important;
    max-width: 194px;
  }
  .flexRowContent--wrapper__newsletter .stretchChildrenWidth:last-child {
    width: 100% !important;
    max-width: 300px;
  }
}
