:global(.vtex-styleguide-9-x-noAppearance){
    background-color: #fff!important;
    border: none;
    color: #000 !important;
    border-radius: 0;
}

:global(.vtex-styleguide-9-x-noAppearance)::placeholder{
    color: #D0D0D0 !important;
}
:global(.vtex-input-prefix__group) {
  border-radius: 0;
  margin-right: 10px;
}
