.newsletter--newsletter__block{
    background-color: #616366;
}
.container--newsletter__block{
    padding: 0!important;
}
.form--newsletter__block{
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.label--newsletter__block{
  font-size: 16px;
  color: #FFFFFF;
  max-width: 190px;
  font-weight: 400;
  margin-left: 15px;
  text-align: left;
}
.inputGroup--newsletter__block{
    padding: 0!important;
    width: 50%!important;
    border: 0;
}

.buttonContainer--newsletter__block{
    padding: 0;
}
.buttonContainer--newsletter__block :global(.vtex-button){
    background: #F48120;
    border-radius: 0;
    padding: 0 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.confirmationTitle--newsletter__block, .confirmationText--newsletter__block {
  color: #fff;
}

@media (max-width: 991px) {
  .form--newsletter__block {
    display: block;
  }
  .inputGroup--newsletter__block {
    width: 100% !important;
    display: block;
    margin-top: 1rem;
  }
  .buttonContainer--newsletter__block :global(.vtex-button) {
    width: 100%;
    margin-right: 0;
  }
  .inputGroup--newsletter__block :global(.vtex-input-prefix__group) {
    margin-right: 0;
    border-radius: 0;
  }
  .inputGroup--newsletter__block :global(.vtex-styleguide-9-x-hideDecorators) {
    text-align: center;
  }
}
