.flexRow--wrapper__newsletter{
  background-color: #616366;
}

.flexRowContent--wrapper__newsletter {
  padding: 20px 0;
  margin-top: 3rem !important;
}
.flexRowContent--wrapper__newsletter :global(.vtex-input__error) {
  position: absolute;
  margin: 0;
}

@media (max-width: 991px) {
  .flexRowContent--wrapper__newsletter {
    text-align: center;
  }
  .flexRow--wrapper__newsletter {
    background-color: #002D71;
    padding: 1rem 0;
    padding-bottom: 2rem;
  }
  .flexCol--wrapper__column {
    align-items: center;
  }
}
