.container--listLayout{
    max-width: 100%!important;
}
.element {
  padding: 0;
  position: relative;
  z-index: 0;
}

/* FORMATO DE GRID */
:global(.vtex-search-result-3-x-galleryItem--grid) .element {
  padding: 10px;
  min-height: 445px;
  justify-content: space-between;
}

@media (max-width: 648px) {
  :global(.vtex-search-result-3-x-galleryItem--grid) .element {
    height: 360px;
  }
}
