/* TITULO */
.galleryTitle--layout{
    color: #00A9E0;
    margin: 0.4rem 0 0 4rem;
    font-size: 22px;
}

.orderByText{
    margin-right: 16px;
}
.filterPopupTitle{
    text-transform: none;
    position: relative;
    color: #343434;
}
.filterPopupTitle::after {
    content: '';
    position: absolute;
    top: -8px;
    border: 1px solid #979899;
    padding: 1rem 4.2rem;
    left: 90px;
}

/* FILTRO DE PESQUISA */
.filter__container--title,
.filterSelected, .filter__container--selectedFilters{
    display: none;
}

.filterContent :global(.vtex-checkbox__line-container ){
    display: flex;
    align-items: center;
}
.filterPopupArrowIcon{
    padding-left: 2rem;
}

.filterTitleSpan{
    color: #b1b1b1!important;
}
:global(.vtex-checkbox__label){
    color: #b1b1b1!important;
}

@media (max-width: 1024px) {
  :global(.vtex-search-result-3-x-searchResultContainer) {
    width: 100% !important;
  }

  .filterPopupTitle,
  .filterPopupArrowIcon {
    color: #A2A2A2;
  }
  .filterPopupTitle::after,
  .orderByText {
    display: none;
  }
}
@media (max-width: 991px) {
  .filterPopupTitle::after {
    display: none;
  }

  .filterPopupArrowIcon {
    padding-left: 7px;
  }
}
