.buttonText--buyNow{
    color: #000;
}

:global(.vtex-flex-layout-0-x-flexRowContent--wrapper__product-actionsC ) :global(.vtex-button){
    background-color: #00A9E0 !important;
    border: none;
}
.buttonText--button__buyC {
  color: #fff;
}
