.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color:#eef3f7;
  color: #0f3e99;
}

.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color:#dbe9fd;
}

.flexCol--productRating {
  margin-bottom: 3rem;
}

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem
}
.flexCol--wrapper__right .wishproduto{
  justify-content: initial;
}

@media (max-width: 767px) {
  :global(.vtex-flex-layout-10-x-flexRow--productCountMobileRow) :global(.vtex-store-components-3-x-container),
  :global(.vtex-flex-layout-0-x-flexRow--grid-list-info) :global(.vtex-store-components-3-x-container),
  :global(.vtex-flex-layout-0-x-flexRow--products-result-grid) :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}
