.newsletterForm--newsletter__block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 35px;
}

.nameInputContainer {
  max-width: 285px;
  width: 100%;
  margin-right: 5px;
}
.emailInputContainer {
  max-width: 403px;
  width: 100%;
  margin-right: 5px;
}
.formSubmitContainer {
  max-width: 139px;
  width: 100%;
}

.formSubmitContainer :global(.vtex-button) {
  background: #00A9E0;
  border: 0;
  padding: 0 18px;
  font-size: 14px;
  border-radius: 0;
}

.defaultSuccessMessage--newsletter__block {
  margin: 0 0 0 30px;
  color: #fff;
  line-height: 40px;
}

.newsletterForm :global(.vtex-input-prefix__group) {
  border: 0 !important;
}

@media (max-width: 767px) {
  .newsletterForm--newsletter__block {
    margin: 0;
    flex-direction: column;
    gap: 15px;
  }
  .nameInputContainer {
    max-width: 100%;
  }
  .newsletterForm :global(.vtex-input-prefix__group),
  .emailInputContainer {
    margin: 0;
  }
}