.newsletterForm--newsletter__block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 35px;
}

.nameInputContainer {
  max-width: 285px;
  width: 100%;
  margin-right: 5px;
}
.emailInputContainer {
  max-width: 403px;
  width: 100%;
  margin-right: 5px;
}
.formSubmitContainer {
  max-width: 139px;
  width: 100%;
}

.formSubmitContainer :global(.vtex-button) {
  background: #00A9E0;
  border: 0;
  padding: 0 18px;
  font-size: 14px;
}

.defaultSuccessMessage--newsletter__block {
  margin: 0 0 0 30px;
  color: #fff;
  line-height: 40px;
}