:global(.vtex-flex-layout-0-x-flexRow--wrapper__footer){
    margin: 40px auto!important;
}

.flexCol--column__descriptions{
    padding: 10px;
    background: #EFEFEF;
}

.flexColChild--wrapper__column{
    height: auto!important;
}

.flexCol--wrapper__column {
  align-items: initial;
  text-align: center;
}

.flexRowContent--wrapper__icons{
  flex-direction: column;
}

.flexColChild--wrapper__icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto !important;
}

.flexRowContent--seloscontrole {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.flexCol--wrapper__icon .flexColChild--wrapper__icon:not(:first-child, :last-child) {
  margin-bottom: 20px;
}

/* Copyright */
.flexRow--wrapper__copy{
    padding: 10px 0;
    border-top: .5px solid #b1b1b1;
}
.flexRow--whatsfixed {
  position: fixed;
    bottom: 90px;
    right: 40px;
    z-index: 1;
}
.flexRowContent--wrapper__copy {
  align-items: center;
}
.flexCol--wrapper__assinatura {
  text-align: end;
  position: relative;
}
.flexCol--imagem1 {
  position: relative;
}
.flexCol--wrapper__assinatura::before {
  content: 'Plataforma';
    color: #979797;
    text-transform: initial;
    position: absolute;
    right: 100px;
    top: 6px;
}

.flexCol--imagem1::before {
  content: 'Design';
    color: #979797;
    text-transform: initial;
    position: absolute;
    right: 100px;
    top: 6px;
}

.flexRowContent--social-icons-container {
  gap: 20px;
}
.flexRowContent--social-icons-container .stretchChildrenWidth {
  width: 100% !important;
  max-width: fit-content;
}

@media only screen and (max-width: 1024px) {
  .flexRow--wrapper {
    width: 100% !important;
  }
  .flexRow--controleinstagram, .flexCol--wrapper__assinatura::before {
    display: none;
  }
  .flexRow--wrapper__icons {
    display: contents;
  }
  .flexRowContent--redesocial {
    display: flex;
    text-align: center;
  }
  .flexCol--wrapper__assinatura {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .flexRow--deals, .flexRow--controleinstagram, .flexCol--wrapper__assinatura::before, .flexCol--imagem1::before {
    display: none;
  }
  .flexRow--wrapper__icons {
    display: contents;
  }
  .flexRowContent--wrapper__footer {
    flex-wrap: wrap;
    gap: 40px;
  }
  .flexColChild--wrapper__column {
    width: inherit;
  }
  .flexCol--wrapper__column,
  .flexColChild--wrapper__icon {
    align-items: center;
  }

  .flexRowContent--wrapper__footer .stretchChildrenWidth,
  .flexRowContent--wrapper__icons .stretchChildrenWidth, .flexRow--wrapper__copy{
    width: 100%!important;
  }
  .flexRowContent--redesocial {
    display: flex;
    text-align: center;
  }
  .flexRowContent--social-icons-container {
    display: flex;
    justify-content: center;
  }
  
  .flexCol--wrapper__assinatura {
    text-align: center;
  }
}
