.heading--footer__title{
  margin: 0 0 20px;
  color: #616366;
  font-size: 16px;
  line-height: 20px;
}

:global(.vtex-flex-layout-0-x-flexColChild--wrapper__assinatura) .container--text__copyright{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.container--text__copyright{
    color: #b1b1b1;
    font: 300 14px/28px Poppins Regular;

}
.paragraph--text__copyright{
    margin: 0;
    font-size: 12px;
}
.wrapper--textoloja {
  font: normal normal 300 14px/18px Poppins Regular;
  color: #202020;
  text-align: center;
}
.strong--rodapelinks {
  color: #616366;
  font-size: 14px;
}
.link--rodapelinks, .paragraph--rodapelinks {
  color: #A2A2A2;
  text-decoration: inherit;
  font-size: 14px;
}
.link--rodapelinks:hover, .paragraph--rodapelinks:hover {
  color: #272D60;
}

.container--rodapelinks.container--not-first {
  margin-top: 20px;
}

.paragraph--rodapelinks {
  margin-bottom: 0;
  margin-top: 0;
  text-align: initial;
  line-height: 28px;
}

@media (max-width: 991px) {
  .container--footer__title,
  .container--rodapelinks {
    justify-content: center;
  }

  .container--text__copyright {
    justify-content: center;
  }
  .container--redesocialmob {
    justify-content: center;
    padding: 1rem 0;
  }

  .paragraph--rodapelinks {
    text-align: center;
  }
}
