.sidebarHeader {
  justify-content: flex-end;
  padding: 0 0 15px;
}

@media (max-width: 1024px) {
  .plusIcon, .minusIcon {
    width: 10px;
  }
}

@media (max-width: 991px) {
  .plusIcon, .minusIcon {
    width: 10px;
  }
}
