.minicartCheckoutButton :global(.vtex-button){
    background-color: #00A9E0;
    border: none;
    color: #FFFFFF;
}
.minicartIconContainer::after {
  content: 'Meu Carrinho';
  position: absolute;
  left: 2.6rem;
  top: 5px;
  color: #202020;
  text-transform: initial;
  text-align: left;
}

.minicartQuantityBadge {
  background: #979797;
  top: -2px;
  right: -12px;
}

.minicartIconContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 1099px) {
  .minicartIconContainer::after {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .minicartIconContainer::after {
    display: none;
  }
}

@media (max-width: 639px) {
  .minicartQuantityBadge {
    top: -10px;
    right: -5px;
  }
}
