.minicartCheckoutButton :global(.vtex-button){
    background-color: #00A9E0;
    border: none;
    color: #FFFFFF;
    border-radius: 0;
}
.minicartIconContainer::before {
  content: 'Meu Carrinho';
  position: absolute;
  left: 2.6rem;
  top: 3px;
  color: #202020;
  text-transform: initial;
  text-align: left;
}
.minicartIconContainer::after {
  content: 'Carrinho';
  font-size: 13px;
  text-transform: initial;
  position: absolute;
  left: 41px;
  bottom: -1px;
  font-weight: 600;
  color: #000;
}

.minicartQuantityBadge {
  background: #979797;
  top: -2px;
  right: -12px;
}

.minicartIconContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 1099px) {
  .minicartIconContainer::after {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .minicartIconContainer::after {
    display: none;
  }

  .closeIconButton {
    color: #616366;
  }
}

@media (max-width: 639px) {
  .minicartQuantityBadge {
    top: -10px;
    right: -5px;
  }

  .minicartProductListContainer {
    padding: 0 30px;
  }
}
