.minicartCheckoutButton :global(.vtex-button){
    background-color: #F48120;
    border: none;
    font: normal normal normal 18px/17px Poppins Regular;
    color: #FFFFFF;
}
.minicartIconContainer::after {
  content: 'Meu Carrinho';
  position: absolute;
  left: 2.6rem;
  top: 5px;
  color: #202020;
  text-transform: initial;
  text-align: left;
  font: normal normal 300 15px/13px Poppins Regular;
}

.minicartQuantityBadge {
  background: #979797;
  top: -2px;
  right: -12px;
}

.minicartIconContainer {
  display: flex;
  align-items: center;
}



@media (max-width: 991px) {
  .minicartIconContainer::after {
    display: none;
  }
}
