.flexRowContent--wrapper .stretchChildrenWidth{
    display: flex;
    align-items: center;
}

.flexRowContent--infos__topo {
  justify-content: space-between;
}
.flexCol--wrapper__icons{
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 10px;
}

.flexColChild--wrapper__icons{
    height: auto!important;
}

.flexRow--wrapper__categories{
    background: #E3E3E2;
    width: 100%!important;
    box-shadow: 3px 3px 6px #00000014;
}

.flexRow--infos__topo {
  padding: 14px 0;
}

.flexCol--mini-login-mobile-container {
  position: relative;
  z-index: 0;
}
.flexColChild--mini-login-mobile-container {
  max-height: 28px;
}
.flexColChild--mini-login-mobile-container:last-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}