.container{
  background: #E3E3E2;
}

.departmentList {
  height: initial;
  margin: 0 -15px;
  padding: 16px 0;
}
.departmentLink {
  border: none!important;
  color: #343434;
  margin: 0;
  font-weight: 600;
  padding: 0;
}
.itemContainer:last-child .departmentLink {
  padding: 7px 23px;
  background: #FFFFFF;
  border-radius: 7px;
}

.itemContainer--category{
    z-index: 9 !important;
    background: #E3E3E2;
    width: auto;
    left: auto;
    transition: all .4s linear;
}

.itemContainer {
  max-height: initial;
  line-height: initial;
}
.itemContainer:not(:first-child) {
  margin-left: 62px;
}

@media (min-width: 1100px) {
  .submenuList {
    display: block;
    column-count: 3;
  }
  .itemContainer--category{
    z-index: 2;
    width: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    padding-bottom: 7rem;
  }
  .submenuItem {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .flexRowContent--main-header-mobile {
    background-color: #fff;
  }
}

@media (max-width: 991px) {
  .itemContainer {
    max-height: fit-content;
  }
}
