@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Muli 300'), url('assets/fonts/Muli-300.woff2') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Muli 400'), url('assets/fonts/Muli-400.woff2') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Muli 500'), url('assets/fonts/Muli-500.woff2') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Muli 600'), url('assets/fonts/Muli-600.woff2') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Muli 700'), url('assets/fonts/Muli-700.woff2') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Muli 800'), url('assets/fonts/Muli-800.woff2') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Muli 900'), url('assets/fonts/Muli-900.woff2') format('woff');
}
